.timeline {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.timeline:before {
	content: "";
	position: absolute;
	left: 20px;
	top: 0;
	bottom: 0;
	width: 4px;
	background-color: #0d6efd;
}

.timeline-item {
	position: relative;
	margin: 20px 0;
	padding-left: 60px;
}

.timeline-item:before {
	content: "";
	position: absolute;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid #0d6efd;
	top: 0;
	transform: translateY(-50%);
}

.timeline-item-content {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-item-content h5 {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.timeline-item-content button {
	margin-right: 5px;
}

.card-gray {
	border-color: gray;
}

.card-gray .btn {
	pointer-events: none;
	opacity: 0.6;
}
